.AI-powered .right-AI{
    background-color: rgb(41, 39, 39);
    width: 610px;
    height: 570px;
    border-radius: 10px;
    position: relative;
    margin-top: 40px;
    
}
.right-A{
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    
}
.ribble{
    font-size: 17px;
    color: rgb(72, 70, 70);
}

.img11{
    border-radius: 130px;
    position:relative;
    margin-left: 190px;
    margin-top: 160px;
    z-index: 2;

}
.img12{
    border-radius: 100px;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 55px;
    z-index: 1;
}
.img13{
    border-radius: 100px;
    position: absolute;
    margin-top: -20px;
    margin-left: 320px;
    left: 0;
    right: 0;
}
.img14{
    border-radius: 100px;
    position: absolute;
    margin-left: 460px;
    margin-top: 50px;
    left: 0;
    right: 0;
}
.img15{
    border-radius: 100px;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 200px;
    margin-left: -30px;
}
.img16{
    border-radius: 100px;
    position: absolute;
    margin-top: 350px;
}
.img17{
    border-radius: 100px;
    position:absolute;
    margin-top: 420px;
    margin-left: -350px;
}
@media screen and (max-width:375px){
    .AI-powered .right-AI{
        width: 340px;
        height: 300PX;
        margin-left: -10px;
    }
    .container_photo{
        width: 100vw;
        height: 100%;
        min-height: 600px;
    }
    .img11{
        width: 120px;
        margin-top: 90px;
        margin-left: 110px;
    }
    .img12{
        width: 80px;
        margin-top: 70px;
        margin-left: 50px;
    }
    .img13{
        width: 80px;
        margin-left: -20px;
        margin-left: 200px;
        margin-top: -10px;
    }
    .img14{
        width: 80px;
        margin-left: -10px;
        margin-left: 270px;
        margin-top: 15px;
    }
    .img15{
        width: 80px;
        margin-left: -10px;
        margin-top: 110px;
    }
    .img16{
        width: 80px;
        margin-left: 10px;
        margin-top: 200px;
    }
    .img17{
        width: 80px;
        margin-left: -190px;
        margin-top: 230px;
        
    }
    .pb2{
        width: 340px;
        height: 300px;
    }
    .AA{
        width: 350px;
        margin-left: -60px;
        
    }
    .Illust{
    }
}
