.AI-powered .right-AI{
    background-color: rgb(41, 39, 39);
    width: 610px;
    height: 570px;
    border: 3px solid;
    border-radius: 10px;
    position: relative;
}
.img11{
    border-radius: 100px;
}
.img12{
    border-radius: 100px;
}
.img13{
    border-radius: 100px;
}
.img14{
    border-radius: 100px;
}
.img15{
    border-radius: 100px;
}
.img16{
    border-radius: 100px;
}
.img17{
    border-radius: 100px;
}
