.sign{
    margin-left: -30px;
    font-size: 25px;
    font-weight: bold;
    margin-top: -25px;
    padding: 30px;
}
.left-col{
    margin-left: 50px;

}.right-col{
    display: flex;
    margin-left: 50px;
    margin-top: px;
    gap: 7px;
    
}
.sof{
    font-weight: bold;
    border: 1px solid rgb(209, 207, 207);
    height: 35px;
    text-align: center;
    width: 249px;
    margin-top: 10px;
}
.lu{
    font-weight: bold;
}
.grap{
    margin-left: -60px;
}
.container_tools{
    display: flex;
    margin-top: 50px;
}
.seo{
    margin-top: -98px;
}
.right-co{
    margin-left: 50px;
}
.fin{
    text-decoration: underline;
}
