.sign{
    margin-left: -30px;
    font-size: 25px;
    font-weight: bold;
    margin-top: -25px;
    padding: 30px;
}
.left-col{
    margin-left: 50px;

}
.right-col{
    display: flex;
    margin-left: 5px;
    margin-top: 20px;
    gap: 7px;
    
}
.come{
    display: flex;
    gap: 1em;

}
.makup{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    height: 100%;
    min-height: 400px;
    gap: 2em;
    padding: 2em 5em 2em 5em;
}

.sof{
    font-weight: bold;
    border: 1px solid rgb(229, 228, 228);
    height: 35px;
    text-align: center;
    width: 249px;
    margin-top: 10px;
    border-radius: 5px;
}

.lu{
    font-weight: bold;
    font-size: 20px;
}
.soo{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 640;
    color: rgb(73, 71, 71);
    border-radius: 3px;
    border: 1px solid rgb(221, 215, 215);
    background-color: white;
}
.grap{
    margin-left: 5px;
}

.seo{
    margin-top: -98px;
}
.right-co{
    margin-left: 5px;
    margin-top: 20px;
}
.fin{
    text-decoration: underline;
}
.container_tools_mega{
    display: flex;
    margin-top: 40px;
    margin-left: 35px;
    
}
.right-col_new{
   margin-left: 50px;
   margin-top: 20px;
}
.design-on{
    margin-top: 100px;

}

.img{
    border-radius: 10px;
}


.static{
    border-radius: 7px;
}

@media screen and (max-width:500px){
    .container_tools{
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        padding: 10px; 
        gap: 35px;
        margin-left: 4px;
        padding: 1em 7em 1em 6.5em;

    }
    .micro{
        display: none;
    }
    .sof{
        width: 90px;
        background-color: white
    }
    
    .img{
        width: 340px;
        height: 200px;
        margin-left: -90px;
    }
    .sign{
        margin-left:-120px ;
    }
    .left-col{
        width: 20em;

        
    }
    .right-col{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: -80px;
    }
    .grap{
        margin-left: -60px;
        font-size: 14px;
    }
    .lu{
        font-size: 15px;
    }
    .right-co{
        margin-left: -80px;
    }
    .right-coo{
        margin-left: 50px;
        margin-top: 15px;
    }
    .container_tools_mega{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: -40px;
    
    }
    .static{
        width: 340px;
        height: 200px;
    }
    .design-two{
        margin-left: 3px;
    }
    
    .ap{
        margin-left: 10px;
    }
    .right-col_new{
        margin-top: 15px;
    }
    .left-col{
        width: 21.4em;
        
    
    }
}

@media screen and (max-width:450px){
    .container_tools{
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        padding: 10px; 
        gap: 35px;
        margin-left: 4px;
        padding: 1em 7em 1em 6.5em;

    }
    .micro{
        display: none;
    }
    .sof{
        width: 90px;
        background-color: white
    }
    
    .img{
        width: 340px;
        height: 200px;
        margin-left: -90px;
    }
    .sign{
        margin-left:-120px ;
    }
    .left-col{
        width: 20em;

        
    }
    .right-col{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: -80px;
    }
    .grap{
        margin-left: -60px;
        font-size: 14px;
    }
    .lu{
        font-size: 15px;
    }
    .right-co{
        margin-left: -80px;
    }
    .right-coo{
        margin-left: 50px;
        margin-top: 15px;
    }
    .container_tools_mega{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: -40px;
    
    }
    .static{
        width: 340px;
        height: 200px;
    }
    .design-two{
        margin-left: 3px;
    }
    
    .ap{
        margin-left: 10px;
    }
    .right-col_new{
        margin-top: 15px;
    }
    .left-col{
        width: 21.4em;
        
    
    }
}
@media screen and (max-width:375px){
    .container_tools{
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        padding: 10px; 
        gap: 35px;
        margin-left: 4px;
        padding: 1em 7em 1em 6.5em;

    }
    .micro{
        display: none;
    }
    .sof{
        width: 90px;
        background-color: white
    }
    
    .img{
        width: 340px;
        height: 200px;
        margin-left: -90px;
    }
    .sign{
        margin-left:-120px ;
    }
    .left-col{
        width: 20em;

        
    }
    .right-col{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: -80px;
    }
    .grap{
        margin-left: -60px;
        font-size: 14px;
    }
    .lu{
        font-size: 15px;
    }
    .right-co{
        margin-left: -80px;
    }
    .right-coo{
        margin-left: 50px;
        margin-top: 15px;
    }
    .container_tools_mega{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: -40px;
    
    }
    .static{
        width: 340px;
        height: 200px;
    }
    .design-two{
        margin-left: 3px;
    }
    
    .ap{
        margin-left: 10px;
    }
    .right-col_new{
        margin-top: 15px;
    }
    .left-col{
        width: 21.4em;
        
    
    }
    
}


