.footer .footer_bgn{
    background-color: whitesmoke;
    width: 100vw;
    height: 100%;
    min-height: 600px;
    margin-top: 100px;
    display: flex;
    gap: 80px;
}
.company_logo{
    display:flex;
    gap:15px;
    padding: 55px;
    margin-left: -8px;
}
.copo{
    background-color: whitesmoke;
}
.inst{
    color: whitesmoke;
}
.linelogo{
    margin-left: 45px;
    margin-top: -10px;
}
.one2{
    margin-top: 20px;
}
.log2{
    margin-left: 15px;
}
.log3{
    margin-left: 15px;
}
.log5{
    margin-left: 15px 
}
.log4{
    margin-left: 15px
}
.log7{
    margin-left: 15px;
}
.log8{
    margin-left: 15px;
}
.log9{
    margin-left: 15px;
}
.log10{
    margin-left: 15px;
}
.list{
    margin-left: 45px;
    margin-top: 30px;
}
.lit li {
    margin-top: -30px;
    margin-left: 50px;
    line-height: 2;
}
.lit{
    margin-top: -20px;
    line-height: 2;
    margin-left: -50px;
}
.blog li a{
    line-height: 2;
    text-decoration: underline;
    color: gray;
}
.private{
    color: rgb(92, 88, 88);
    font-weight:lighter;
    text-decoration: underline;
}
.rum{
    margin-top: 40px;
}
.policy{
    display: flex;
    margin-left: 35px;
    margin-top: 100px;
}
.priv{
    display: flex;
    margin-top: 140px;
    gap: 40px;
    font-weight: lighter;
    text-decoration: underline;
}

.online{
    margin-top: 100px;
    margin-left: 50px;
    
}

.lis{
   margin-top: -50px; 
   margin-left: 45px;
}
h4{
    text-decoration: none;
}
.smat{
    text-decoration: underline;
}
.ico{
    margin-top: 2px;
}
.on{
    display: flex;
    margin-top: 210px;
    margin-left: -1080px;
    gap: 110px;
    line-height: 2;
    border-bottom: 1px solid;
    height: 300px;
    width: 100%;
    min-width: 900px;
}
.smat li a{
    color: gray;
}

.maain{
    display: flex;
    flex-direction:row;
    gap: 100px;
    margin-left: -180px;
    line-height: 2;
    
}
@media screen and (max-width:375px){
    .footer .footer_bgn{
        margin-top: 10px;
        height: 1700px;
        display: flex;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: -50px;
    }
    .maain{
        display: none;
    }
    .logos{
    
    }
    .one{
        display: flex;
    }
    .one2{
        display: flex;
    }
    .log1{
        height: 16px;
        width: 16px;
    }
    .log2{
        height: 16px;
        width: 16px;
    }
    .priv{
        display: none;
    }
    .ico{
        font-size: 12px;
    }
    .blog li a{
        font-size: 12px;
        color: black;
        line-height: 2;
    }
    .list{
        
    }
    
}

