.footer .footer_bgn{
    background-color: rgb(242, 245, 245);
    height: 100%;
    min-height: 600px;
    margin-top: 100px;
    display: flex;
    gap: 80px;
}
.company_logo{
    display:flex;
    gap:15px;
    padding: 55px;
    margin-left: -8px;
}
.copo{
    background-color: whitesmoke;
}
.inst{
    color: whitesmoke;
}
.linelogo{
    margin-left: 45px;
    margin-top: -10px;
}
.one2{
    margin-top: 20px;
}
.log2{
    margin-left: 15px;
}
.log3{
    margin-left: 15px;
}
.log5{
    margin-left: 15px 
}
.log4{
    margin-left: 15px
}
.log7{
    margin-left: 15px;
}
.log8{
    margin-left: 15px;
}
.log9{
    margin-left: 15px;
}
.log10{
    margin-left: 15px;
}
.list{
    margin-left: 45px;
    margin-top: 30px;
}
.lit li {
    margin-top: -30px;
    margin-left: 50px;
    line-height: 2;
}
.lit{
    margin-top: -20px;
    line-height: 2;
    margin-left: -50px;
}
.blog li a{
    line-height: 2;
    text-decoration: underline;
    color: gray;
    
}
.private{
    color: rgb(92, 88, 88);
    font-weight:lighter;
    text-decoration: underline;
}
.rum{
    margin-top: 40px;
}
.policy{
    display: flex;
    margin-left: 35px;
    margin-top: 100px;
    gap: 70px;
}
.conditn{
    display: flex;
    margin-left: 50px;
    gap: 20px;

    
}

.conditn li a{
    color: rgb(70, 69, 69);
    text-decoration: underline;
    font-size: 12px;
    display: flex;
}
.tn{
    display: flex;
    gap: 20px;

}
.tn li a{
    font-size: 14px;
}
.copy{
    font-size:14px ;
}

.priv{
    display: flex;
    margin-top: 140px;
    gap: 40px;
    font-weight: lighter;
    text-decoration: underline;
}

.online{
    margin-top: 100px;
    margin-left: 50px;
    
}

.lis{
   margin-top: -50px; 
   margin-left: 45px;
}
h4{
    text-decoration: none;
}
.ico{
    margin-top: 2px;
    font-size: 12px;
}
.line{
    font-size: 10px;
}
.on{
    display: flex;
    margin-top: 210px;
    margin-left: -1080px;
    gap: 110px;
    line-height: 2;
    height: 300px;
    width: 100%;
    min-width: 1200px;
    z-index: 2;
}
.smat li a{
    color: gray;
    text-decoration: underline;
}
.main{
    display: none;
}
.rum{
    color: gray;

}

.maain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-left: -350px;
    line-height: 2;
    
}
.logu{
    margin-top: -230px;
}
@media screen and (max-width:375px){
    .footer .footer_bgn{
        margin-top: 10px;
        height: 1200px;
        display: flex;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: -50px;
    }
    .logu{
        margin-top: -50px;
    }
    .policy{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .conditn{
        display: flex;
        flex-direction: column;
        margin-top: -30px;
        margin-left: 10px;
        font-size: 12px;
        color: black;
    }
    .conditn li a{
        text-decoration: none;
        color: black;
    }
    .pol{
        border-bottom: 1px solid;
        width: 72px;
        color: grey
        
    }
    .po{
        border-bottom: 1px solid;
        width: 118px;
        color: gray;
    }
    
    .maain{
        display: none;
    }
    .top-cl{
        padding: 50px;
        margin-left: -120px;
    
    }
    .Dev{
        margin-top: -100px;
    }
    .Dev2{
        margin-top: -100px;
    }
    
    .one{
        display: flex;
    }
    .one2{
        display: flex;
    }
    .log1{
        height: 16px;
        width: 16px;
    }
    .log2{
        height: 16px;
        width: 16px;
    }
    .priv{
        display: none;
    }
    .ico{
        font-size: 11px;
    }

    .blog li a{
        font-size: 12px;
        color: black;
        line-height: 2;
        text-decoration: none;
        border-bottom: 1px solid gray;
    }
    .line{
        font-size: 12px;
        color: rgb(5, 5, 5);
    }
    
    
}

