.generator .gen{
    margin-left: 100px;
    margin-top: 100
}
.Dev{
    gap: 50px;
    margin-top: 50px;

}

.icon8 li{
    margin-top: 240px;
    text-decoration: underline;
    line-height: 2;
    color: black;
}
.geico{
    font-size: 17px;
}
.wrapin{
    display: flex;
    margin-left: -140px;
    gap: 40px;
}
.bottom-col{
    display: flex;
}

h3{
    font-size: 30px;
}