.hero .container_hero{
    background-image: url(https://maxst.icons8.com/vue-static/landings/page-index/main-gradient.png);
    height: 500px;
    width: 1120px;
    margin-top: -40px;
    margin-left: 180px;
    
}