@import url("navbar.css");
@import url("free_icons.css");
@import url("design_tools.css");
@import url("Illustration.css");
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color-scheme: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
}