.navbar .ico{
    font-weight:900;
    font-size: 13px;
    margin-top: 5px;
    

}
.icon8{
    display: flex;
    gap: 7px;
}
.navbar .first_nav{
    display: flex;
    gap: 30px;
    padding: 15px;
    
}
 .unor{
    display: flex;
    gap: 30px;
}
li a{
    color: rgb(75, 73, 73);
    font-weight: bold;
}
.second_nav{
    display: flex;
    gap: 40px;
    margin-left: 400px;

}
select[name="ICONS"]{
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(75, 73, 73);
    border: none;
}
select[name="photo"]{
    width: 72px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(75, 73, 73);
    border: none;
    background-color: transparent;
}
select[name="illustration"]{
    width: 105px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(75, 73, 73);
    border: none;
    background-color: transparent;
}
select[name="AI"]{
    width: 40px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(75, 73, 73);
    border: none;
    background-color: transparent;
}
input[type="button"]{
    width: 90px;
    height: 39px;
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
    border:1px solid rgb(215, 216, 217);
    background-color: white;
    border-radius: 5px;
}
input[type="text"]{
    width: 200px;
    height: 45px;
    border: none;
}
.bt{
    width: 35px;
    height: 19px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border: none;
    background-color: rgb(249, 184, 65);
    border-radius: 5px;
    font-weight: bold;
}
.btn{
    text-align: center ;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
}

::placeholder{
    padding: 20px;
    font-size: 17px;
}
.navbar .hero{
    background-image: url(https://maxst.icons8.com/vue-static/landings/page-index/main-gradient.png);
    height: 500px;
    width: 1120px;
    margin-top: -60px;
    margin-left: 180px;  
}
 .room{
     padding: 100px;
     text-align: center;
     height: 250px;
     width: 700px;
     margin:auto
     
 }
 .container{
   height: 700px;
 }
 .icu{
    display: flex;
    background-color: whitesmoke;
    gap: 0.2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
 }
 select[name="Icns"]{
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 11px;
 }
 .img-new{
    display: flex;
    gap: 1px;
    background-color: whitesmoke;
    width: 230px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .form_icon{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
     
 }
 .branch_img{
    padding: 7px;
 }
 .sea{
    margin-top: 7px;
    padding: 1px;
    margin-left: -10px;
    font-weight: bold;
    
 }
 span{
    line-height: 2;
    font-weight: bold;
    
 }
 .list-icons{
    font-size: 44px;
    font-weight: bold;
    text-indent: -18px;
    margin-left: -120px;      
 }
 .src{
    background-color: transparent;
 }
 .container_hero{
    margin-top: 50px;
    margin-left: 30px;
 }
 .room{
    width: 700px;
    margin: auto;
 }
 .pular{
    display: flex;
    gap: 5px;
 }
 .pular li a{
    text-decoration: underline;
    font-weight: normal;
 }
 .popular{
    display: flex;
    margin-left: -205px;
    gap:5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
 }
 .dcatton{
    display: flex;
    gap: 40px;
    margin-left: 50px;
    
 }
 .d_illustration{
    display: flex;
 }
 .gopro{
    display: flex;
 }
 .lunac{
    display: flex;
 }
 .wrap{
    display: flex;
 }
 .create{
    padding: 10px;
    margin-top: -20px;
 }
 .profor{
    padding: 10px;
    margin-top: -25px;

 }
 .outs{
    padding: 10px;
    margin-top: -25px;
 }
 .dill{
    border: 2px solid;
    border-color: plum;
    border-radius: 5px;
    height: 90px;
 }
 .mac{
    border: 2px solid;
    border-color: whitesmoke;
    border-radius: 5px;
    height: 90px;
 }
 .nac{
    border: 2px solid;
    border-color: rgb(159, 159, 211);
    border-radius: 5px;
    height: 90px;
 }
 
 
 
 



