.photo .right-photo{
    background-image: url(https://maxst.icons8.com/vue-static/landings/page-index/products/preview/moose.png);
    width: 610px;
    height: 570px;
    margin-top: 30px;
    border: 2px solid rgb(197, 249, 249);
    border-radius: 7px;
    
}
.img6{
  position: relative;
  left: 0;
  right: 0;
  

}
.img7{
 position: absolute;
 right: 0;
 left: 0;
    
}
.img8{
    position: relative;
}
.img9{
  position: relative;
}
.img10{
  position: relative;
}